# .dockerignore

# Git
.git
.gitignore
README.md

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.sln.docstates

# Build results
bin/
obj/
out/
TestResults/

# NuGet
packages/
*.nupkg
*.snupkg

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac
.DS_Store

# JetBrains Rider
.idea/
*.sln.iml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*